<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="myPageInfo" th:with="logged_user=${#authentication.principal.user}">
  <div class="card mt-4">
    <div class="row justify-content-start align-item-center m-3">
      <div class="card-body align-center">
        <h2 class="col-auto">[[${username}]] 님 안녕하세요</h2>
        <h2 class="col-auto">[[${authority}]]</h2>
        <nav class="navbar navbar-expend-md">
          <div class="container-fluid">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a th:href="@{/user/profileUpdate}" class="nav-link">회원정보 수정</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link disabled">|</a>
              </li>
              <li class="nav-item">
                <a th:href="@{/user/delete}" class="nav-link">회원탈퇴</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expend-md navbar-light bg-light mt-2">
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/user/mypage/myTicket}">내 예매 목록</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/user/mypage/myQuestion}">고객센터</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/user/mypage/myReview}">내가 쓴 글</a>
        </li>
      </ul>
    </div>
  </nav>
</th:block>
</html>